@{
    ViewData["Title"] = "Đăng Nhập";
}
<h2>Đăng Nhập</h2>
<form method="post">
    <div class="form-group">
        <label>Tên đăng nhập</label>
        <input name="userName" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Mật khẩu</label>
        <input type="password" name="password" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
@if (!ViewData.ModelState.IsValid)
{
    <div class="text-danger">Tên đăng nhập hoặc mật khẩu không đúng.</div>
}
